@import url('./theme.css');

:root {
  --font-default: 'Quotes', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', system-ui, ui-sans-serif, sans-serif;
  --font-monospace: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', ui-monospace, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:not(:defined) {
  display: none;
}

a {
  color: currentcolor;
  text-decoration: none;
}

::selection {
  background: var(--c-text-bland);
  color: #fff;
}

svg.icon {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}
