:root {
  @media (prefers-color-scheme: light) {
    --c-bg: #f5f5f5;
    --c-bg-soft: #fff;
    --c-bg-mute: #dbdbdb;
    --c-text: #484848;
    --c-text-bland: #808080;
  }

  @media (prefers-color-scheme: dark) {
    --c-bg: #0a0a0a;
    --c-bg-soft: #141414;
    --c-bg-mute: #242424;
    --c-text: #b7b7b7;
    --c-text-bland: #9f9f9f;
  }

  --c-active: #39f;
  --c-primary: var(--c-text);
}
