---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'footer'> {
  author?: {
    name: string
    url?: string
  }
  beian?: string
}

const {
  props: { author, beian, ...props },
} = Astro

const year = new Date().getFullYear()
---

<footer {...props}>
  {
    author && (
      <div>
        &copy;{` ${year} `}
        <a href={author.url ?? '#'} rel="noopener noreferrer" target="_blank">
          {author.name}
        </a>
      </div>
    )
  }
  {
    beian && (
      <div>
        <a href="https://beian.miit.gov.cn" rel="noopener noreferrer" target="_blank">
          {beian}
        </a>
      </div>
    )
  }
  <div>
    Powered by <a href="https://astro.build" rel="noopener noreferrer" target="_blank">Astro</a> | Source code on <a
      href="https://github.com/tototjc/blog "
      rel="noopener noreferrer"
      target="_blank">GitHub</a
    >
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-between;
    gap: 0.25rem 2rem;
    padding: 0.5rem;
    color: var(--c-text);
    cursor: default;

    div {
      font-size: 0.85rem;

      a:hover {
        text-decoration: underline;
      }
    }
  }
</style>
