---
import { author, beian } from 'virtual:config'

const year = new Date().getFullYear()
---

<div>
  {
    author && (
      <p>
        &copy; {year}{' '}
        <a href={author.url ?? '#'} rel="noopener noreferrer" target="_blank">
          {author.name}
        </a>
      </p>
    )
  }
  <p>
    Powered by <a href="https://astro.build" rel="noopener noreferrer" target="_blank">Astro</a> | Source code on <a
      href="https://github.com/tototjc/blog "
      rel="noopener noreferrer"
      target="_blank">GitHub</a
    >
  </p>
  <p>
    Unless otherwisenoted, all content on this site is licensed under <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0"
      rel="noopener noreferrer"
      target="_blank">CC BY-NC-SA 4.0</a
    >.
  </p>
  {
    beian && (
      <p>
        <a href="https://beian.miit.gov.cn" rel="noopener noreferrer" target="_blank">
          {beian}
        </a>
      </p>
    )
  }
</div>

<style>
  div {
    text-align: center;
    color: var(--c-text-bland);
    cursor: default;

    p {
      font-size: 0.85rem;
      margin-block: 0.15rem;

      a {
        text-decoration: underline;
      }
    }
  }
</style>
