---
import type { HTMLAttributes } from 'astro/types'
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props extends HTMLAttributes<'div'> {
  logo: string | ImageMetadata
}

const {
  props: { logo, ...props },
} = Astro
---

<div {...props}>
  <a href="/">{typeof logo === 'string' ? <h1>{logo}</h1> : <Image src={logo} alt="Logo" />}</a>
</div>

<style>
  a {
    display: flex;
    place-items: center;
    place-content: center;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--c-primary);
    cursor: pointer;
    text-wrap: balance;
  }

  img {
    width: auto;
    height: 3rem;
    object-fit: contain;
  }
</style>
