---
import { Icon } from 'astro-icon/components'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {
  name: string
}

const { name, ...props } = Astro.props
---

<div {...props}>
  <span>Showing: <strong>{name}</strong></span>
  <a href="/"><Icon name="close" title="Close" /></a>
</div>

<style>
  div {
    width: 100%;
    display: flex;
    place-items: center;
    justify-content: space-between;
    background: var(--c-bg-mute);
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: var(--c-text);
    cursor: default;

    strong {
      color: var(--c-text);
      font-weight: 700;
    }

    a {
      display: flex;
      place-items: center;
      place-content: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }
</style>
