<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=auto" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Content Manager</title>
  </head>
  <body></body>
</html>

<script>
  import { cmsConfig, previewStyles, previewContainersTag } from 'astro-decap-cms:config'
  import CMS from 'decap-cms-app/dist/decap-cms-app.js'
  import { createElement } from 'react'
  if (previewContainersTag) {
    const tag = previewContainersTag
    cmsConfig.collections
      .flatMap(({ name, files }) => {
        if (files && files.length) {
          return files.map(file => file.name)
        } else {
          return name
        }
      })
      .forEach(name => CMS.registerPreviewTemplate(name, props => createElement(tag, null, props.widgetFor('body'))))
  }
  if (previewStyles && previewStyles.length) {
    previewStyles.forEach(style => CMS.registerPreviewStyle(...style))
  }
  CMS.init({ config: cmsConfig })
</script>
