---
import { ViewTransitions } from 'astro:transitions'

import BaseHead from '@/components/BaseHead.astro'
import NavBar from '@/components/NavBar.astro'
import FooterInfo from '@/components/FooterInfo.astro'

import '@/styles/global.css'

import { SITE_TITLE } from '@/consts'

interface Props {
  title?: string
  description?: string
}

const {
  props: { title, description },
  currentLocale,
} = Astro
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <BaseHead title={title && `${title} | ${SITE_TITLE}`} description={description} />
    <ViewTransitions />
  </head>
  <body>
    <header>
      <NavBar />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <FooterInfo />
    </footer>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
    overflow-anchor: auto;

    body {
      padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
      background: var(--c-bg);
      font-family: Quotes, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', system-ui, ui-sans-serif, sans-serif;
      direction: ltr;
      text-rendering: optimizelegibility;
      font-synthesis: none;
      font-optical-sizing: auto;
      text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-tap-highlight-color: transparent;

      header {
        position: sticky;
        top: 0;
        z-index: 1;
        max-width: 50rem;
        margin: 0 auto;
        background: var(--c-bg);
      }

      main {
        margin: 0 auto;
        max-width: 45rem;
        padding: 1rem;
        min-height: 75vh;
      }

      footer {
        margin: 0 auto;
        max-width: 45rem;
        padding: 1rem;
      }
    }
  }
</style>
