---
import type { ComponentProps } from 'astro/types'

import BaseLayout from './Base.astro'

import NavBar from '@/components/NavBar.astro'
import FooterInfo from '@/components/FooterInfo.astro'

import { SITE_TITLE } from '@/consts'

type Props = ComponentProps<typeof BaseLayout>

const { title, ...props } = Astro.props
---

<BaseLayout title={title && `${title} | ${SITE_TITLE}`} {...props}>
  <header>
    <NavBar />
  </header>
  <main>
    <slot />
  </main>
  <footer>
    <FooterInfo />
  </footer>
</BaseLayout>

<style>
  header {
    margin: 0 auto;
    max-width: 50rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--c-bg);
  }

  main {
    margin: 0 auto;
    max-width: 45rem;
    min-height: 75vh;
    padding: 1rem;
  }

  footer {
    margin: 0 auto;
    max-width: 45rem;
    padding: 1rem;
  }
</style>
