---
import BaseLayout from '@/layouts/Base.astro'
---

<BaseLayout title="CMS">
  <meta name="robots" content="noindex, nofollow" slot="head" />
  <div id="nc-root"></div>
</BaseLayout>

<script>
  import config from './_config'
  import CMS from 'decap-cms-app'
  import globalStyle from '@/styles/global.css?url'
  import mdStyle from '@/styles/markdown.css?url'
  import { createElement } from 'react'
  CMS.registerPreviewStyle(globalStyle)
  CMS.registerPreviewStyle(mdStyle)
  CMS.registerPreviewTemplate('posts', props => createElement('article', null, props.widgetFor('body')))
  CMS.registerPreviewTemplate('about', props => createElement('article', null, props.widgetFor('body')))
  CMS.registerPreviewTemplate('blogroll', props => createElement('article', null, props.widgetFor('body')))
  CMS.init({ config })
</script>
