<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=auto" />
    <meta name="robots" content="noindex, nofollow" />
    <title>CMS</title>
  </head>
  <body></body>
</html>

<script>
  import config from './_config'
  import CMS from 'decap-cms-app'
  import globalStyle from '@/styles/global.css?url'
  import mdStyle from '@/styles/markdown.css?url'
  import { createElement } from 'react'
  CMS.registerPreviewStyle(globalStyle)
  CMS.registerPreviewStyle(mdStyle)
  CMS.registerPreviewTemplate('posts', props => createElement('article', null, props.widgetFor('body')))
  CMS.registerPreviewTemplate('about', props => createElement('article', null, props.widgetFor('body')))
  CMS.registerPreviewTemplate('blogroll', props => createElement('article', null, props.widgetFor('body')))
  CMS.init({ config })
</script>
