---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'span'> {
  categories: {
    name: string
    slug: string
  }[]
}

const { categories, ...props } = Astro.props
---

<span {...props}>
  {
    categories.map(({ name, slug }, index) => (
      <>
        <a href={slug}>{name}</a>
        {index < categories.length - 1 && ', '}
      </>
    ))
  }
</span>
